.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    overflow-y: scroll;
}

.sidebarWrapper {
    padding: 1.2rem;
    padding-left: var(--padding-left);
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarListIcon {
    margin-right: 15px;
}

.sidebarBtn {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.sidebarHr {
    margin: 20px 0;
}